<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" alt="foto" href="../img/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="kvIqcgZPSQlembppZr_Vm1JpPsOX96bnbrFXoVoX7BI" /  <link rel="canonical" href="http://www.boo-at-the-zoo.nl/" />
  <title> Website wordt gebouwd | 3DWD</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  
</head>
<body>
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="text-light" ><div class="intro-heading text-uppercase"> <span class="d-none d-md-block welkom"></span><br><img src="img/hello.png" width="200px" height="165px" class="img-fluid animated fadeIn _1" data-wow-delay="0.10s"  alt="website logo"></div> <span class="comp3 mb-5 animated fadeIn _15" data-wow-delay="1.5s"><br> <span class="comp1 animated fadeIn _2" data-wow-delay="0.20s">Web </span> Development</span></div>
          <div class="intro-lead-in mt-5 animated fadeIn _20" data-wow-delay="2s"><h1>Hier wordt momenteel een website gebouwd!</h1></div>
          
          <a class="btn btn-outline-light btn-xl text-cuppercase js-scroll-trigger mt-5 animated fadeInUpBig _25" data-wow-delay="2.5s" href="https://www.3dwebdevelopment.com">Meer informatie <i class="fas fa-angle-double-down"></i></a>
        </div>
      </div>
    </header>
</body>
</html>
